{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% if session.user_id and session.user_role %}
<title>ZWOLT</title>
<h1>Ylläpitäjän työkalut</h1>
<br>
<nav>
    <ul>
        <li><a href="/add/restaurant">Lisää ravintola</a></li>
        <li><a href="/add/dish">Lisää annos</a></li>
        <li><a href="/add/admin">Lisää ylläpitäjä</a></li>
        <li><a href="/delete/user">Poista käyttäjä</a></li>
        <li><a href="/delete/restaurant">Poista ravintola</a></li>
        <li><a href="/delete/dish">Poista annos</a></li>
        <li><a href="/delete/review">Poista arvostelu</a></li>
        <li><a href="/front">Palaa takaisin etusivulle</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
    </ul>
</nav>
{% else %}
<a href="/">Kirjaudu sisään tästä</a>
{% endif %}

{% endblock %}