{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
{% if session.user_id %}
<title>Parhaat Ravintolat</title>
<br>
<h1> 10 Parasta ravintolaa arvostelujen mukaan</h1>
<br>
Valitse ravintola jonka arvosteluja haluat nähdä:

{% for item in reviews %}
<ol>
    <li>
        <a href="/best_reviews/{{ item.id }}">Valitse</a>  {{ item.name }} | Arvostelujen keskiarvo: {{ item.rating }}
    </li>
</ol>
{% endfor %}
<br>
<a href="/front">Palaa takaisin etusivulle</a>
{% else %}
<a href="/">Kirjaudu sisään tästä</a>
{% endif %}
{% endblock %}