{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% if session.user_id %}
<title>Parhaat Ravintolat</title>
<h1></h1>
<br>
10 Parasta ravintolaa arvostelujen mukaan
<br>
Valitse ravintola jonka arvosteluja haluat nähdä:

{% for item in reviews %}
    <li>
        <a href="/best_reviews/{{ item.id }}">Valitse</a>  {{ item.name }} | Arvostelujen keskiarvo: {{ item.rating }}
    </li>
{% endfor %}
<br>
<a href="/front">Palaa takaisin etusivulle</a>
{% else %}
<a href="/">Kirjaudu sisään tästä</a>
{% endif %}
{% endblock %}