{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% if session.user_id %}
<title>Tilausvahvistus</title>
<h1>Yhteenveto tilauksestasi:</h1>
<h1>Tilattavat ruoat:</h1>
<br>
{% for item in orders %}
<form action="/receipt" method="POST">
    <ol>    
        <li>
            <input type="hidden" name="orders" value="{{ item[0] }}"> {{ item[1] }} {{ item[2] }}€
        </li>
    </ol>
<br>  
{% endfor %}
<h1>Erikoistoiveet</h1>
<br>
<p>{{ extra_info }}</p>
<br>
<h1>Hinta yhteensä: {{ total_price }}€ </h1>
    <input type="hidden" name="restaurant_id" value="{{ orders[0][3] }}">
    <input type="hidden" name="total_price" value="{{ total_price }}">
    <input type="hidden" name="extra_info" value="{{ extra_info }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Vahvista tilaus">
</form>
{% else %}
<a href="/">Kirjaudu sisään tästä</a>
{% endif %}
{% endblock %}