{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% if session.user_id and session.user_role %}
<title>ZWOLT</title>
<div class="div6"></div>
    <h1>Ylläpitäjän työkalut</h1>
</div>
<br>
{% if element == "1" %}
Poista käyttäjä kirjoittamalla käyttäjätunnus:
<form action="/delete/user" method="POST">
    Käyttäjän nimi:
    <input type="text" name="username" maxlength="30"><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Poista">
</form>
{% endif %}

{% if element == "2" %}
Poista ravintola kirjoittamalla ravintolan nimi:
<form action="/delete/restaurant" method="POST">
    Ravintolan nimi:
    <input type="text" name="restaurant_name" maxlength="30"><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Poista">
</form>
{% endif %}

{% if element == "3" %}
Poista annos antamalla ravintolan nimi ja annoksen nimi:
<form action="/delete/dish" method="POST">
    Ravintolan nimi:
    <input type="text" name="restaurant_name" maxlength="30"><br>
    Annoksen nimi:
    <input type="text" name="dish_name" maxlength="60"><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Poista">
</form>
{% endif %}

{% if element == "4" %}
Poista arvio antamalla arvion tunnusnumero:
<form action="/delete/review" method="POST">
    Arvion tunnusnumero:
    <input type="text" name="review_id" maxlength="30"><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Poista">
</form>
{% endif %}
<br>
<br>
<a href="/admin_tools">Takaisin työkaluihin</a>

{% else %}
<a href="/">Kirjaudu sisään tästä</a>
{% endif %}

{% endblock %}