{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% if session.user_id %}
<title>ZWOLT</title>
<div class="div6"></div>
    <h1 class="maintitle">Tilaa ruokaa!</h1>
</div>
<nav>
    <ul>
        <li><a href="/restaurants">Ravintolat lähelläsi</a></li>
        <li><a href="/best_reviews">Parhaiten arvostellut ravintolat</a></li>
        <li><a href="/find_restaurant">Ravintolahaku</a></li>
        <li><a href="/reviews/{{ session.user_id }}"> Omat arvosteluni</a></li>
        <li><a href="/receipts/{{ session.user_id }}"> Omat tilaukseni</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
    </ul>
</nav>
{% else %}
<a href="/">Kirjaudu sisään tästä</a>
{% endif %}
{% if session.user_role %}
<br>
<nav>
    <ul>
        <li><a href="/admin_tools">Ylläpitäjän Työkalut</a></li>
    </ul>
</nav>
{% endif %}
{% endblock %}
