{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% if session.user_id %}
<title>ZWOLT</title>
<div class="div6"></div>
    <h1>Tilaa ruokaa!</h1>
</div>
<br>
<a href="/restaurants">Ravintolat lähelläsi</a>
<br><br>
<a href="/best_reviews">Parhaiten arvostellut ravintolat</a>
<br><br>
<a href="/reviews/{{ session.user_id }}"> Omat arvosteluni</a>
<br><br>
<a href="/receipts/{{ session.user_id }}"> Omat tilaukseni</a>
<br><br>
<a href="/logout">Kirjaudu ulos</a>

{% else %}
<a href="/">Kirjaudu sisään tästä</a>
{% endif %}
{% if session.user_role %}
<br>
<a href="/admin_tools">Ylläpitäjän Työkalut</a>
{% endif %}
{% endblock %}
