{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% if session.user_id %}
<title>Tilaukset</title>
<h1>Tilaukseni ravintolasta {{ receipt.name }}</h1>
<br>
TIlattu aikaan: {{ receipt.created_at.strftime("%Y-%m-%d %H:%M:%S") }}
<br> <br>
Erikoistoiveet:
<br>
{{ receipt.additional_info }}
<br> <br>
Tilatut annokset:
<br> 
{% for item in receipt_dishes %}
    <li>
        {{ item.dish_name}} | {{ item.price }}€
    </li>
{% endfor %}
<br>
Kokonaishinta: {{ receipt.price }}€
<br>
<a href="/front">Palaa takaisin etusivulle</a>
{% else %}
<a href="/">Kirjaudu sisään tästä</a>
{% endif %}
{% endblock %}