{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<title>Rekisteröidy</title>
<h1>Voit rekisteröityä luomalla käyttäjätunnuksen ja salasanan</h1>
<form action="/register" method="POST">
    Luo käyttäjätunnus:
    <input type="text" name="username">
    <br>
    Salasana:      
    <input type="password" name="password">
    <br>
    Syötä salasana uudelleen:
    <input type="password" name="password2">
    <input type="submit" value="Rekisteröi">

</form>
<br>
<br>
<a href="/">Palaa takaisin kirjautumissivulle</a>
{% endblock %}