{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% if session.user_id and session.user_role %}
<title>Arvostelut</title>
<h1>Ravintolan {{ reviews[0].name }} arvostelut:</h1>
<br>
<br>
{% for item in reviews %}
    <li>
        {{ item.created_at.strftime("%Y-%m-%d %H:%M:%S") }} | Arvion tunnus: {{ item.id }} | {{ item.review }}
    </li>
{% endfor %}
<br>
<br>
<a href="/front">Palaa takaisin etusivulle</a>

{% elif session.user_id %}
<title>Arvostelut</title>
<h1>Ravintolan {{ reviews[0].name }} arvostelut:</h1>
<br>
<br>
{% for item in reviews %}
    <li>
        {{ item.created_at.strftime("%Y-%m-%d %H:%M:%S") }} | {{ item.review }}
    </li>
{% endfor %}
<br>
<br>
<a href="/front">Palaa takaisin etusivulle</a>

{% else %}
<a href="/">Kirjaudu sisään tästä</a>

{% endif %}
{% endblock %}