{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% if session.user_id %}
<title>Arvostele ravintola</title>
<h1></h1>
<p> Arvostele </p>
<br>
<form action="/review/{{ receipt_id }}" method="POST">
    <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>
    <br>
    <textarea name="text_review" rows="3" cols="50" maxlength="1000"></textarea>
    <br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Lähetä">
</form>
<br>
<a href="/front">Palaa etusivulle</a>
<br>


{% else %}
<a href="/">Kirjaudu sisään tästä</a>
{% endif %}
{% endblock %}
