{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% if session.user_id %}
<title>Arviot</title>
<h1></h1>
<br>
<h1>Omat arvosteluni:</h1>
<br>
<br>
Jos haluat muokata arvostelua klikkaa valitse
<br>
<br>

{% for item in reviews %}
<ol>
    <li>
        <a href="/modify_review/{{ item.id }}"> Valitse </a>{{ item.name }} | {{ item.review }} | Tähtiä: {{ item.stars }}
    </li>
</ol>
{% endfor %}
<br>
<a href="/front">Palaa takaisin etusivulle</a>
{% else %}
<a href="/">Kirjaudu sisään tästä</a>
{% endif %}
{% endblock %}